{% extends 'base.html' %}

{% block title %} Item Details {% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ item['item_image'] }}" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h2>{{ item['item_title'] }}</h2>
            <p>Price: {{ item['item_cost'] }}</p>
            <a href="{{ url_for('cart', item_index=item['item_index']) }}">Add to Cart</a>
        </div>
    </div>
</div>
{% endblock %}
